force-app/main/default/flows/CepLookup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ActionSearchCep</name>
        <label>ActionSearchCep</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>ActionSearchCep</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CepLookup_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CepLookupScreenError_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cep</name>
            <value>
                <elementReference>ShippingPostalCode</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ActionSearchCep</nameSegment>
        <outputParameters>
            <assignToReference>bairro</assignToReference>
            <name>bairro</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>digitadoErrado</assignToReference>
            <name>digitadoErrado</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>hasSearch</assignToReference>
            <name>hasSearch</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>localidade</assignToReference>
            <name>localidade</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>logradouro</assignToReference>
            <name>logradouro</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>uf</assignToReference>
            <name>uf</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>street</name>
        <dataType>String</dataType>
        <expression>{!logradouro} + TEXT({!varShippingNumber}) + {!varShippingComplement}</expression>
    </formulas>
    <interviewLabel>Cep Lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cep Lookup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CepLookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varShippingCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varShippingState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varShippingStreet</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>Update Account</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>CepLookup3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CepLookupScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>localidade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>uf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>street</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>CepLookup</name>
        <label>Cep Lookup</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ActionSearchCep</targetReference>
        </connector>
        <fields>
            <name>ShippingPostalCode</name>
            <dataType>String</dataType>
            <fieldText>Cep</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Buscar Cep</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CepLookup3</name>
        <label>CepLookup</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(9, 240, 9);&quot;&gt;Registro salvo com sucesso&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CepLookup_0</name>
        <label>Cep Lookup</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
        <fields>
            <name>ShippingPostalCode2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ShippingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Cep</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ShippingStreet_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>logradouro</elementReference>
            </defaultValue>
            <fieldText>Rua</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>hasSearch</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Bairros</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>bairro</elementReference>
            </defaultValue>
            <fieldText>Bairro</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>hasSearch</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ShippingState_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>uf</elementReference>
            </defaultValue>
            <fieldText>Estado</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <elementReference>hasSearch</elementReference>
            </isDisabled>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ShippingNumber_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varShippingNumber</elementReference>
            </defaultValue>
            <fieldText>Número</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ShippingComplement_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varShippingComplement</elementReference>
            </defaultValue>
            <fieldText>Complemento</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Salvar Endereço</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CepLookupScreenError</name>
        <label>Cep Lookup</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(202, 55, 44);&quot;&gt;falha ao salvar endereço, tente mais tarde.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CepLookupScreenError_0</name>
        <label>Cep Lookup</label>
        <locationX>704</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CepLookup_0</targetReference>
        </connector>
        <fields>
            <name>errorMessage_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(253, 170, 2); font-size: 36px;&quot;&gt;falha ao buscar cep registro, favor inserir os dados manualmente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>bairro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>digitadoErrado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasSearch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>localidade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>logradouro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uf</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShippingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShippingComplement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShippingNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varShippingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShippingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
